#chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chat-window {
  height: 100%;
}

#chat-box {
  height: 80px;
  background-color: #555;
}
